---
import HeadBase from '@/components/HeadBase.astro';
import MevPage from '@/components/pages/Mev.vue';
---

<html lang="en">
  <head>
    <HeadBase title="Public MEV explorer | Metablock" desciption="Inspect and analyze historical MEV opportunities on Ethereum, Polygon, and Arbitrum" />
  </head>
  <body>
    <MevPage client:load />
  </body>
</html>
