---
import HeadBase from '@/components/HeadBase.astro';
import IndexPage from '@/components/pages/Index.vue';
---

<html lang="en">
  <head>
    <HeadBase title="Metablock" description="Chain explorer for chain explorers" />
  </head>
  <body>
    <IndexPage />
  </body>
</html>
